@import '../bootstrap'
@import '../theme'

/** Themes */

v-btn-toggle($material)
  background: $material.cards

  .v-btn
    color: $material.text.primary

    &.v-btn--active:not(:last-child):not([data-only-child])
      border-right-color: $material.buttons.disabled

theme(v-btn-toggle, "v-btn-toggle")

.v-btn-toggle
  display: inline-flex
  border-radius: 2px
  transition: $primary-transition
  will-change: background, box-shadow
  vertical-align: middle

  .v-btn
    border-radius: 0
    height: $button-toggle-height
    min-width: $button-toggle-min-width
    padding: $button-toggle-padding
    width: auto

    .v-icon
      font-size: 24px

    &:not(:last-child):before
      border: solid
      border-width: thin
      border-color: transparent

    &.v-btn--active
      opacity: 1

  &--selected
    elevation(2)
